@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url('./fonts/nunito/Nunito-Regular.woff2') format('woff');
  font-display: swap;
}

body {
  box-sizing: border-box;
  margin: 0;
}

body #root {
  height: 100vh;
  width: 100vw;
}
